header {
    transition:
        background-color 0.5s ease,
        box-shadow 0.3s ease; /* 背景色とボックスシャドウにアニメーション */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

body {
    padding-top: 50px; /* ヘッダーの高さに合わせて調整 */
}

#header-logo {
    height: 25px;
    margin-top: 5px;
    margin-left: 10px;
}

/* メニューのモーダル（初期状態） */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2730d9;
    color: #fdfdfd;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
    transition:
        opacity 0.5s ease,
        visibility 0s 0.5s;
    overflow: auto;
}

#menu-container {
    position: absolute;
    top: 60px;
}

/* メニューが開いているとき */
.menu.open {
    visibility: visible;
    opacity: 1;
    transition:
        opacity 0.5s ease,
        visibility 0s 0s;
}

#menu-btn-container {
    margin-top: 65px;
}

#menu-container {
	position: relative; /* 基準位置を設定 */
}

.menu-btn {
    background-color: #fdfdfd;
    color: #1d25b5;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    border: none;
    display: block;
}

.menu-btn:hover {
	background: #1d25b5;
}
