/* ラッパー */
#wrapper {
    position: relative;
    margin: 5% auto;
    width: 90%;
    background-color: black;
    overflow: hidden;
    border-radius: 8px;
}

/* ビデオエレメント */
#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* カメラキャンバス */
#camera-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* QRコードの検出メッセージ */
#qr-msg {
    width: 70%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 2;
}

#resume-btn {
    font-size: 18px;
    border-radius: 8px;  /* すでに2回設定されているため1回に修正 */
    z-index: 2;
    width: 90%;
    padding: 1rem;
    margin: 5% auto;  /* 左右のマージンを自動に設定 */
    display: block;  /* ブロック要素にして中央寄せ */
    text-align: center;
    color: #fdfdfd;
    background-color: #0071bc;  /* ボタン背景色 */
}

/* 検出したQRコードの四辺形 */
#rect-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
