#generateShareURL {
    display: block;
    width: 80%;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #2730d9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5%;
    transition: background-color 0.3s ease;
}

#shareURL-container {
    position: relative;
    display: flex;
    width: 80%;

    #shareURL {
        flex-grow: 1;
        padding: 0.7rem 0 0.7rem 0.8rem;
        border: 1px solid #333;
        border-radius: 8px;
        padding-right: 40px; /* アイコンのスペースを確保 */
        white-space: nowrap; /* 改行を防ぐ */
        overflow: hidden; /* はみ出した部分を隠す */
        text-overflow: ellipsis; /* 文字がはみ出した部分を "..." で省略 */
    }

    #copy-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%); /* アイコンを縦方向に中央揃え */
        cursor: pointer;
        padding: 0.8rem 0.9rem 0.8rem 0.8rem;
        border: none;
        background: none;
        color: #333;
        font-size: 1rem;
        transition: 0.5s;

        &:active {
            color: #2730d9;
        }
    }
}

#ticketList {
    .select-ticket-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: block;
        text-align: left;
        width: 80%;
        padding: 10%;
        margin: 5% auto;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
        .select-ticket-card-datetime {
            position: relative;
            display: inline-block;
            height: 10px;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: 0.5px;
            padding: 0 0 4px 12px;
        }
    
        .select-ticket-card-type {
            position: relative;
            display: inline-block;
            height: 26px;
            line-height: 32px;
            padding-left: 10px;
            font-size: 16px;
            font-weight: 800;
            margin-top: 4px;
            letter-spacing: 2px;
        }
    
        .select-ticket-card-id {
            font-size: 9px;
            color: #ccc;
            position: relative;
            display: inline-block;
            margin-top: 9px;
            padding-left: 10px;
        }
    }
    
}

#bindUsers {
    display: block;
    width: 80%;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #2730d9;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5%;
    transition: background-color 0.3s ease;
}